a.btn {
  padding: 12px 48px 12px 49px;;
  background-color: $primary;
  border-color: $primary;
  box-shadow: 0 2px 9px 0 rgba(0, 135, 230, 0.6);

  &:hover {
    color: #fff;
    background-color: $primary_dark;
  }
}