footer.footer-1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  .footer-link {
    font-size: 0.625rem;
    line-height: 0.875rem;
    font-family: "Nunito Sans";
    font-weight: 700;
    color: #263238;
    text-decoration: none;
    display: flex;
    margin-bottom: 0.4375rem;
  }

  ul {
    list-style-type: none;
    padding: 0rem;
    margin-top: 0.3125rem;
  }

  li {
    .footer-link {
      text-decoration: none;
      font-weight: initial;
      font-size: 0.625rem;
      line-height: 1rem;
      font-family: "Nunito Sans";
      font-weight: 300;
      color: #778aa3;
      margin-bottom: 0;
    }
  }
  .logo {
    color: #3087df;
    font-family: "Exo";
    letter-spacing: 1px;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
  }
}

footer.footer-2 {
  a {
    font-size: 0.5rem;
    line-height: 0.6875rem;
    font-family: "Nunito Sans";
    font-weight: 200;
    color: #263238;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    text-decoration: none;
  }

  .footer-link {
    padding-left: 1.5rem;
  }
}

