nav {
  .navbar-brand {
    color: #3087df;
    font-family: "Exo";
    letter-spacing: 1px;
    font-size: 1.125rem;
    font-weight: 600;
  }

  .navbar-toggler {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='17.053' height='2.842' rx='1.421' fill='%23263238'/%3E%3Crect y='15.158' width='17.053' height='2.842' rx='1.421' fill='%23263238'/%3E%3Crect y='7.579' width='12.316' height='2.842' rx='1.421' fill='%23263238'/%3E%3C/svg%3E%0A");
      width: 1.125rem;
    }

    &:focus {
      box-shadow: 0 0 0 0rem;
    }
  }

  .nav-item {
    .nav-link {
      color: $text-black;
    }

  }

  .active {
    .nav-link {
      color: $primary;
    }

  }
}

.navbar {
  padding-bottom: 0;
  height: 5rem;
  background-color: $bg-blue-light;
}