.bg-color-blue {
  background-color: $bg-blue-light;
}

.bg-color-blue-light {
  background-color: #fbfcfe;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;

  a {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-family: "Nunito Sans";
    font-weight: 600;
    color: #3087df;
  text-decoration: underline;
  }
}