
html {
  font-size: 15.7px !important;
  @media screen and (max-width: 576px) {
    font-size: 13px !important;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  font-weight: 400;
}

a {
  &:hover {
    text-decoration: none;
  }
}

