
header {
  hr {
    margin-top: -4px !important;
    @media screen and (min-width: 768px) {
      position: absolute;
      left: 0;
      top: 100%;
    }
    @media screen and (min-width: 992px) {
      position: initial;
      margin-top: -6px !important;
    }
  }
}

#WAGO {
  height: 23px;
}

#SA h3, #SRF h3, #BEF h3, #IP h3, #WPA h3 {
  margin-top: 1.875rem;
  margin-bottom: 0.75rem;
}
.lead {
  p {
    font-size: 1rem;
    line-height: 1.375rem;
    font-family: "Nunito Sans";
    font-weight: 400;
    color: #263238;
    margin-bottom: 0;
  }
  a {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-family: "Nunito Sans";
    font-weight: 600;
    color: #3087df;
  }
}