
a.btn {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-family: "Nunito Sans";
  font-weight: 300;
  color: #fff;
}

header {
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Nunito Sans";
    font-weight: 300;
    color: #778aa3;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 2.3125rem;
    font-family: "Exo";
    font-weight: 600;
    color: #263238;
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 2rem;
      line-height: 2.625rem;
      font-family: "Exo";
      font-weight: 600;
      color: #263238;
    }
  }
}

section {

  .title {
    p {
      font-size: 0.875rem;
      line-height: 1.625rem;
      font-family: "Exo";
      font-weight: 600;
      color: #3087df;
      letter-spacing: 1.75px;
    }
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-family: "Exo";
    font-weight: 600;
    color: #263238;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Nunito Sans";
    font-weight: 300;
    color: #778aa3;
  }
}